<!-- /*
* Template Name: Volunteer
* Template Author: Untree.co
* Tempalte URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="fonts/icomoon/style.css" />
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="css/tiny-slider.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/flatpickr.min.css" />
    <link rel="stylesheet" href="css/glightbox.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- <title>Ready For Sewa</title> -->
    
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
      <div class="container">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <div class="row g-0 align-items-center">
              <div class="col-2">
                <!-- <a href="/" class="logo m-0 float-start text-white" -->
                  <img src="images/img.jpg.png" alt="logo" style="height: 50%; width:50%">
                  </a
                >
              </div>
              <div class="col-8 text-center">
                <ul
                  class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                  <li class="active"><a href="/">Home</a></li>

                  <li><a href="/events">Events</a></li>
                  <li><a href="/calendar">Calendar</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="/signup">Sign up </a></li>
                  <li><a href="/login">Login</a></li>
                </ul>
              </div>
              <div class="col-2 text-end">
                <a
                  href="#"
                  class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light">
                  <span></span>
                </a>

              
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div
      class="hero overlay"
      style="background-image: url('images/hero_2.jpg')">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 text-left">
            <span class="subheading-white text-white mb-3" data-aos="fade-up"
              >Volunteer</span
            >
            <h1 class="heading text-white mb-2" data-aos="fade-up">
              Give a helping hand to those who need it!
            </h1>
            <p data-aos="fade-up" class="mb-5 text-white lead text-white-50">
              "Volunteers do not necessarily have the time; they just have the
              heart." - Elizabeth Andrew
            </p>
            <p data-aos="fade-up" data-aos-delay="100">
              
            </p>
          </div>

          <div class="col-lg-5">
            
                
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <div class="vision">
              <h2>Our Vision</h2>
              <p class="mb-4 lead">
                we believe that volunteers are the catalysts for positive
                change. We are seeking individuals who are driven by a shared
                purpose and a desire to create a brighter future.
              </p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="mission">
              <h2>Our Mission</h2>
              <p class="mb-4 lead">
                Our mission is to mobilize a passionate and dedicated community
                of volunteers to empower individuals and transform communities
                for the better.
              </p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div
      class="section flip-section"
      style="background-image: url('images/img_v_2-min.jpg')">
      <div class="blob-1">
        <img src="images/blob.png" alt="Image" class="img-fluid" />
      </div>
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-lg-7 text-center" data-aos="fade-up">
            <span class="subheading-white mb-3 text-white">Help Now</span>
            <h2 class="heading text-white">Help Today</h2>
          </div>
        </div>
        <div class="row" >
          <div 
            class="col-lg-3 position-relative"
            data-aos="fade-up"
            data-aos-delay="100">
            <div class="card-flip">
              <div class="flip">
                <div class="front">
                  <!-- front content -->
                  <div class="flip-content-wrap">
                    <span class="icon-local_drink"></span>
                    <h3>Pure Water</h3>
                  </div>
                </div>
                <div class="back">
                  <!-- back content -->
                  <div class="flip-content-wrap">
                    <h3>Pure Water</h3>
                    <p>
                      It initiatives a fantastic way to contribute to improving access to clean and safe drinking water.
                     
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card Flip -->
          </div>
           <div 
            class="col-lg-3 position-relative"
            data-aos="fade-up"
            data-aos-delay="100">
            <div class="card-flip">
              <div class="flip">
                <div class="front">
                  <!-- front content -->
                  <div class="flip-content-wrap">
                    <span class="icon-graduation-cap"></span>
                    <h3>Education</h3>
                  </div>
                </div>
                <div class="back">
                  <!-- back content -->
                  <div class="flip-content-wrap">
                    <h3>Education</h3>
                    <p>
                      Assist teachers in classrooms, tutor students, or contribute your expertise in specific subjects. 
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card Flip -->
          </div>
          <div
            class="col-lg-3 position-relative" 
            data-aos="fade-up"
            data-aos-delay="400">
            <div class="card-flip">
              <div class="flip">
                <div class="front">
                  <!-- front content -->
                  <div class="flip-content-wrap">
                    <span class="icon-dollar"></span>
                    <h3>Donation</h3>
                  </div>
                </div>
                <div class="back">
                  <!-- back content -->
                  <div class="flip-content-wrap">
                    <h3>Donation</h3>
                    <p>
                      Financial contributions are a valuable way to support charitable organizations and their initiatives.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            
          </div> 
          <div
          class="col-lg-3 position-relative" 
          data-aos="fade-up"
          data-aos-delay="400">
          <div class="card-flip">
            <div class="flip">
              <div class="front">
                <!-- front content -->
                <div class="flip-content-wrap">
                  <span class="icon-medkit"></span>
                  <h3>Medical Mission</h3>
                </div>
              </div>
              <div class="back">
                <!-- back content -->
                <div class="flip-content-wrap">
                  <h3>Medical Mission</h3>
                  <p>
                    It healthcare services to underserved communities and contribute to improving the health. 
                  </p>
                </div>
              </div>
            </div>
          </div>
          
        </div> 
        </div>
      </div>
    </div>
  
            </p>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.site-footer -->

    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>

    <script src="js/flatpickr.min.js"></script>
    <script src="js/glightbox.min.js"></script>

    <script src="js/aos.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/counter.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>