<!-- /*
* Template Name: Volunteer
* Template Author: Untree.co
* Tempalte URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="fonts/icomoon/style.css" />
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="css/tiny-slider.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/flatpickr.min.css" />
    <link rel="stylesheet" href="css/glightbox.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- <title>Ready For Sewa</title> -->
    
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
      <div class="container">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <div class="row g-0 align-items-center">
              <div class="col-2">
                <!-- <a href="/" class="logo m-0 float-start text-white" -->
                  <img src="images/img.jpg.png" alt="logo" style="height: 50%; width:50%">
                  </a
                >
              </div>
              <div class="col-8 text-center">
                <ul
                  class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                  <li class="active"><a href="/">Home</a></li>

                  <li><a href="/events">Events</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
              <div class="col-2 text-end">
                <a
                  href="#"
                  class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light">
                  <span></span>
                </a>

                <a href="#" class="call-us d-flex align-items-center">
                  <span class="icon-phone"></span>
                  <span>123-489-9381</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div
      class="hero overlay"
      style="background-image: url('images/hero_2.jpg')">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 text-left">
            <span class="subheading-white text-white mb-3" data-aos="fade-up"
              >Volunteer</span
            >
            <h1 class="heading text-white mb-2" data-aos="fade-up">
              Give a helping hand to those who need it!
            </h1>
            <p data-aos="fade-up" class="mb-5 text-white lead text-white-50">
              "Volunteers do not necessarily have the time; they just have the
              heart." - Elizabeth Andrew
            </p>
            <p data-aos="fade-up" data-aos-delay="100">
              <a
                href="#"
                class="btn btn-primary me-4 d-inline-flex align-items-center">
                <span class="icon-attach_money me-2"></span
                ><span>Donate Now</span></a
              >
              <a
                href="https://www.youtube.com/watch?v=mwtbEGNABWU"
                class="text-white glightbox d-inline-flex align-items-center"
                ><span class="icon-play me-2"></span
                ><span>Watch the video</span></a
              >
            </p>
          </div>

          <div class="col-lg-5">
            <form
              action="#"
              class="bg-white p-5 rounded donation-form"
              data-aos="fade-up">
              <h3>Quick Donation Form</h3>
              <div class="form-field mb-3">
                <label
                  for="amount-1"
                  class="amount js-amount"
                  data-value="1.00">
                  <input
                    type="radio"
                    id="amount-1"
                    name="radio-amount"
                    checked="true" />
                  <span>$1</span>
                </label>

                <label
                  for="amount-2"
                  class="amount js-amount"
                  data-value="5.00">
                  <input type="radio" id="amount-2" name="radio-amount" />
                  <span>$5</span>
                </label>
                <label
                  for="amount-3"
                  class="amount js-amount"
                  data-value="25.00">
                  <input type="radio" id="amount-3" name="radio-amount" />
                  <span>$25</span>
                </label>
                <label
                  for="amount-4"
                  class="amount js-amount"
                  data-value="100.00">
                  <input type="radio" id="amount-4" name="radio-amount" />
                  <span>$100</span>
                </label>
              </div>
              <div class="field-icon">
                <span>$</span>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control px-4"
                  name="donate-value"
                  value="1.00" />
              </div>
              <div class="form-field mb-3">
                <input
                  type="text"
                  placeholder="Name"
                  class="form-control px-4" />
                <input
                  type="email"
                  placeholder="Email"
                  class="form-control px-4" />
              </div>

              <input
                type="submit"
                value="Donate now"
                class="btn btn-secondary w-100" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <div class="vision">
              <h2>Our Vision</h2>
              <p class="mb-4 lead">
                we believe that volunteers are the catalysts for positive
                change. We are seeking individuals who are driven by a shared
                purpose and a desire to create a brighter future.
              </p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="mission">
              <h2>Our Mission</h2>
              <p class="mb-4 lead">
                Our mission is to mobilize a passionate and dedicated community
                of volunteers to empower individuals and transform communities
                for the better.
              </p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="section flip-section"
      style="background-image: url('images/img_v_2-min.jpg')">
      <div class="blob-1">
        <img src="images/blob.png" alt="Image" class="img-fluid" />
      </div>
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-lg-7 text-center" data-aos="fade-up">
            <span class="subheading-white mb-3 text-white">Help Now</span>
            <h2 class="heading text-white">Help Today</h2>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-3 position-relative"
            data-aos="fade-up"
            data-aos-delay="100">
            <div class="card-flip">
              <div class="flip">
                <div class="front">
                  <!-- front content -->
                  <div class="flip-content-wrap">
                    <span class="icon-local_drink"></span>
                    <h3>Pure Water</h3>
                  </div>
                </div>
                <div class="back">
                  <!-- back content -->
                  <div class="flip-content-wrap">
                    <h3>Pure Water</h3>
                    <p>
                      Lorem ipsum dolor, sit amet consectetur, adipisicing elit.
                      Distinctio, quam.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card Flip -->
          </div>
          <div
            class="col-lg-3 position-relative"
            data-aos="fade-up"
            data-aos-delay="200">
            <div class="card-flip">
              <div class="flip">
                <div class="front">
                  <!-- front content -->
                  <div class="flip-content-wrap">
                    <span class="icon-graduation-cap"></span>
                    <h3>Give Education</h3>
                  </div>
                </div>
                <div class="back">
                  <!-- back content -->
                  <div class="flip-content-wrap">
                    <h3>Give Education</h3>
                    <p>
                      Lorem ipsum dolor, sit amet consectetur, adipisicing elit.
                      Distinctio, quam.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 position-relative"
            data-aos="fade-up"
            data-aos-delay="300">
            <div class="card-flip">
              <div class="flip">
                <div class="front">
                  <!-- front content -->
                  <div class="flip-content-wrap">
                    <span class="icon-dollar"></span>
                    <h3>Give Donation</h3>
                  </div>
                </div>
                <div class="back">
                  <!-- back content -->
                  <div class="flip-content-wrap">
                    <h3>Give Donation</h3>
                    <p>
                      Lorem ipsum dolor, sit amet consectetur, adipisicing elit.
                      Distinctio, quam.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 position-relative"
            data-aos="fade-up"
            data-aos-delay="400">
            <div class="card-flip">
              <div class="flip">
                <div class="front">
                  <!-- front content -->
                  <div class="flip-content-wrap">
                    <span class="icon-medkit"></span>
                    <h3>Medical Mission</h3>
                  </div>
                </div>
                <div class="back">
                  <!-- back content -->
                  <div class="flip-content-wrap">
                    <h3>Medical Mission</h3>
                    <p>
                      Lorem ipsum dolor, sit amet consectetur, adipisicing elit.
                      Distinctio, quam.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section cause-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div
            class="col-lg-6 text-center"
            data-aos="fade-up"
            data-aos-delay="100">
            <h2 class="heading">Featured Causes</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Animi
              quaerat, eaque asperiores quos natus, ratione.
            </p>

            <div
              id="features-slider-nav"
              class="mt-5 d-flex justify-content-center">
              <button
                class="btn btn-primary prev d-flex align-items-center me-2"
                data-controls="prev">
                <span class="icon-chevron-left"></span>
                <span class="ms-3">Prev</span>
              </button>
              <button
                class="btn btn-primary next d-flex align-items-center"
                data-controls="next">
                <span class="me-3">Next</span>
                <span class="icon-chevron-right"></span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container mb-5">
        <div
          class="features-slider-wrap position-relative"
          data-aos="fade-up"
          data-aos-delay="200">
          <div class="features-slider" id="features-slider">
            <div class="item">
              <div class="causes-item bg-white">
                <a href="#"
                  ><img
                    src="images/img_v_1-min.jpg"
                    alt="Image"
                    class="img-fluid mb-4 rounded"
                /></a>
                <div class="px-4 pb-5 pt-3">
                  <h3><a href="#">Food for the Hungry</a></h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta labore eligendi tempora laudantium voluptate, amet ad
                    libero facilis nihil officiis.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-footer">
      <div class="container">
        <div class="row mt-5">
          <div class="col-12 text-center">
            <p class="copyright">
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              . All Rights Reserved. &mdash; Designed with love by
              <a href="https://untree.co">Untree.co</a>
              <!-- License information: https://untree.co/license/ -->
            </p>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.site-footer -->

    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>

    <script src="js/flatpickr.min.js"></script>
    <script src="js/glightbox.min.js"></script>

    <script src="js/aos.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/counter.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
